@import "../../../styles/utils/theme.scss";
.nav-hamburger {
    height:100%;
    max-width:24px;
    stroke: $primary;
    stroke-width: 2;
    stroke-miterlimit: 2;
    cursor: pointer;
    &:hover {
        stroke: $primary-light;
    }
}

.nav-open-menu {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:100vh;
    width: 100%;
    background-color: $background;
    z-index:3;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    padding:2rem;
    & > div {
        cursor:pointer;

    }
    svg {
        position:absolute;
        top:15px;
        right:15px;
        width:20px;
        height:20px;
        stroke: $primary;
        fill: $primary;
        cursor: pointer;
        &:hover {
            stroke: $primary-light;
            fill:$primary-light;
        }
    }
}
