@import "../../../styles/utils/theme.scss";
#floating-nav {
    position:absolute;
    width:50px;
    height:50px;
    bottom:0;
    right:0;
    z-index: 10;
    padding:2px;
    #floating-nav-button {
        border:4px solid #00000000;;
        background-color: #00000000;
        &:hover, &.is-open {
            background-color: $primary-light;
            border-color: $primary-light;
        }
        width:100%;
        height:100%;
        border-radius: 10px;
        & > div {
            background-color: $primary;
            width:100%;
            height:100%;
            border-radius: 6px;
            display:flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            svg {
                width:60%;
                height:60%;
                fill:$background;
                stroke:$background;
                &.opener {
                    stroke-width: 3;
                }
                &.closer {
                    stroke-width: 0;
                }
            }
        }
    }
}
