@import "../../../styles/utils/theme.scss";

#floating-nav-menu {
    & > div, & > button, & > select {
        margin: 4px;
    }
    padding:1rem;
    position:absolute;
    background-color: $primary-light;
    border-radius: 6px;
    max-height: calc(100vh - 50px);
    max-width: calc(100vw - 50px);
    bottom:100%;
    right:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}