@import "../../../styles/utils/theme.scss";

#floating-nav-menu {
    position:absolute;
    background-color: $primary-light;
    border-radius: 6px;
    max-height: calc(100vh - 50px);
    max-width: calc(100vw - 50px);
    &.quadrant-0, &.quadrant-2 {
        left: 100%;
        right: unset;
    }
    &.quadrant-0, &.quadrant-1 {
        top: 100%;
        bottom: unset;
    }
    &.quadrant-1, &.quadrant-3 {
        right: 100%;
        left: unset;
    }
    &.quadrant-2, &.quadrant-3 {
        bottom: 100%;
        top: unset;
    }
    display:flex;
    flex-direction: column;
    align-items: center;
}