@import "../../../../styles/utils/theme.scss";
.fundus-page {
    width: 100%;
    padding: 0.5rem;
    background-color: $background;
    overflow: hidden;
    height:100%;
    &.is-open {
        position:absolute;
        top:0;
        left:0;
        right:0;
        height:100vh;
        overflow: scroll;
    }
}
.fundus-page-closer {
    margin: 1rem;
    position:absolute;
    top: 0;
    right: 0;
    width:2rem;
    height:2rem;
    stroke: $primary;
    fill: $primary;
}