@import "../../../../styles/utils/theme.scss";

.fundus-tile {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid $primary-light;
    scroll-snap-align: center;
    &-title {
        margin-top:15px;
    }
    &-img {
        max-height:50%;
        img {
            width:100%;
            height:100%;
            display:flex;
        }
    }
    & > div {
        padding: 3px 0;
    }

}