@import "../../../../styles/utils/theme.scss";

.fundus-tile {
    border: 1px solid $primary-light;
    scroll-snap-align: center;
    padding: 1rem;
    overflow: hidden;
    position: relative;
    &-carousel {
        padding: 1rem;
    }
    &-read-more {
        width:100%;
        button {
            width:100%;
        }
    }
}